<div class="row">
  <div class="col-md-6">
    <h1 class="my-4">Administrar Usuarios</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 class="my-4">Nuevo Usuario</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Ingresar nombre" [(ngModel)]='user_aux.name' autofocus><br>
      <input type="text" class="form-control" placeholder="Ingresar nombre de usuario" [(ngModel)]='user_aux.username'><br>
      <input type="password" class="form-control" placeholder="Ingresar contraseña de usuario" [(ngModel)]='user_aux.password'><br>
      <button class="btn btn-primary" (click)="addUser()">Ingresar nuevo usuario</button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="my-4">Usuarios</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>nombre</th>
          <th>nombre de usuario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of users; let i = index'>
          <td>{{ i }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td> <button class="btn btn-danger" (click)="deleteUser(i)">Eliminar usuario</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>