<div class="row container">
    <h1 class="my-4">Nuestros servicios</h1>
</div>

<div class="row container">

    <div *ngIf="isLoading$; then ifcondition else elsecondition"> ... </div>

    <ng-template #ifcondition>
        <div>
            <h4>Cargando Servicios ...</h4>
        </div>
    </ng-template>
    <ng-template #elsecondition>
        <div *ngIf="skills.length>0; then ifcondition else elsecondition">...</div>

        <ng-template #ifcondition>

            <div class="card-columns">

                <!--div class="col-md-4 col-xs-12" -->
                <div class="card text-white animated fadeIn" *ngFor="let skill of skills" style="width: 20rem;background-color:#212529;;margin:10px">
                    <div class="card-body">
                        <div class="card-block text-center">
                            <h2 class="card-title">{{skill.name}}</h2>
                            <p class="card-text">{{skill.description}}</p>
                            <p class="card-text"><small class="text-muted">Ma&co</small></p>
                        </div>
                        <hr>
                    </div>
                </div>
                <!--/div-->
            </div>

        </ng-template>


        <ng-template #elsecondition>
            <div class="alert alert-danger" role="alert">
                <strong>Atención: </strong>No se encontraron servicios publicados.
            </div>
        </ng-template>


    </ng-template>



</div>