<div class="row container">
    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px;">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="col-md-4 col-xs-12">
        <div class="card" style="width: 20rem;margin:5px">
            <img class="card-img-top" src="assets/logo_sin_fondo.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>