<div class="row">
  <div class="col-md-6">
    <h1 class="my-4">Administrar Proyectos</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Ingresar nombre de proyecto" [(ngModel)]="project_aux.name">
  </div>
</div>

<br>

<div class="form-group">
  <label for="exampleInputFile">Eleegir imagen de proyecto</label>
  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*"
    (change)="handleFileSelect($event)">
</div>


<button class="btn btn-primary" (click)="uploadProject()">Publicar proyecto</button>

<br>
<br>

<h3>Proyectos publicados</h3>

<button class="btn btn-success" (click)="listProjects()">Listar proyectos</button>


<div *ngIf="isLoading$; then ifcondition"> ... </div>

<ng-template #ifcondition>
  <div>
    <h4>Cargando proyectos ...</h4>
  </div>
</ng-template>


<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let project of projects; ">
    <img class="img-fluid rounded mb-3 mb-md-0" id='base64image' src="{{'data:image/jpeg;base64,'+project.imageEncoded}}">
    <!--img class="card-img-top img-fluid" src="{{heroe.img}}" alt="Card image cap"-->
    <div class="card-block">
      <h4 class="card-title">{{ project.name }}</h4>
      <p class="card-text">{{project.id }}</p>
      <p class="card-text"><small class="text-muted">...</small></p>

      <!--a   [routerLink]="['/heroe',i]"  class="btn btn-outline-primary"> ver mas (link) ...</a-->
      <button type="button" class="btn btn-outline-danger btn-block" (click)="deleteProject(project.id)">Eliminar</button>
    </div>
  </div>