<div class="container">

  <div class="row">

    <div class="col-lg-12 col-lg-offset-2">

      <form id="contact-form">
        <!--role="form"-->

        <div class="messages"></div>

        <div class="controls">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_name">Nombre o Razon Social *</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Por favor ingrese su Nombre o Razon Social*" required="required"
                  data-error="Su Nombre es requerido." #name>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_lastname">E-Mail *</label>
                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Por favor ingrese su dirección de correo *" required="required"
                  data-error="Su dirección de correo es requerida." #email>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="form_name">Asunto *</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Por favor ingrese el Asunto *" required="required"
                  data-error="El Asunto es requerido." #subject>
                <div class="help-block with-errors"></div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">Mensaje *</label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Ingrese aquí su mensaje o consulta *" rows="4" required="required"
                  data-error="Por favor, deje un mensaje o consulta." #text></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-send" value="Enviar correo" (click)="send(name.value,email.value,subject.value,text.value);
              name.value='';email.value='';
              subject.value='';text.value=''">
            </div>
          </div>

        </div>

      </form>


    </div>

  </div>


</div>
<br>
<br>


<div class="row container" *ngIf="resp!==''">
  <div class="alert alert-success" role="alert">
    <strong>{{resp}}</strong>
  </div>
</div>

<div class="row container" *ngIf="error!==''">
  <div class="alert alert-danger" role="alert">
    <strong>{{error}}</strong>
  </div>
</div>