/* You can add global styles to this file, and also import other style files */
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
}
#base64image{
    width: 100%; height: 100%
}

/*#img-logo {
    height: 100%;
    width: 100%;
  }*/
  #main-content{
  margin-bottom: 200px;
  }

  /* animacion */
  
.animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
.fast {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
@keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
.fadeIn {
      animation-name: fadeIn;
    }

agm-map {
      height: 300px;
    }