<div class="row">
  <div class="col-md-6">
    <h1 class="my-4">Administrar Servicios</h1>
  </div>
</div>


<div class="form-group">
  <input type="text" class="form-control" placeholder="Ingresar nombre de proyecto" [(ngModel)]="skill_aux.name">

  <br>

  <textarea class="form-control" placeholder="Breve descripcion del proyecto (maximo 255 caracteres)" [ngModel]='skill_aux.description'
    (ngModelChange)='updateDescription($event)' rows="10" cols="15"></textarea>

  <br>
  <button class="btn btn-primary" (click)="uploadSkill()">Publicar service</button>
</div>

<br>
<br>

<h3>Servicios publicados</h3>

<button class="btn btn-success" (click)="listSkills()">Listar servicios</button>


<div *ngIf="isLoading$; then ifcondition"> ... </div>

<ng-template #ifcondition>
  <div>
    <h4>Cargando servicios ...</h4>
  </div>
</ng-template>


<br>

<br>

<br>

<div class="container main-container">

  <div class="row">
    <div class="col-md-4">
      <div class="card animated fadeIn fast" *ngFor="let skill of skills; let i = index ">
        <img class="card-img-top img-fluid" id='base64image' src="assets/logo_sin_fondo.png">

        <div class="card-block">
          <hr>
          <h4 class="card-title text-center">{{ skill.name }}</h4>
          <p class="card-text text-center">{{skill.id }}</p>
          <p class="card-text"><small class="text-muted"><!--description--></small></p>

          <!--a   [routerLink]="['/heroe',i]"  class="btn btn-outline-primary"> ver mas (link) ...</a-->
          <button type="button" class="btn btn-outline-danger btn-block" (click)="deleteSkill(i)">Eliminar</button>
        </div>
      </div>
    </div>

  </div>