
      <!-- Portfolio Item Heading -->
      <!--h1 class="my-4">INICIO
        <small>Bienvenido a nuestro sitio web</small>
      </h1-->

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" [src]="PATH_LOGO" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">MA&amp;CO Montajes S.R.L.</h3>
          <p>Es una empresa creada para ofrecer una
            amplia gama de servicios referidos al ámbito industrial y doméstico,
            montajes, mantenimiento, instalación de equipos, obras eléctricas,
            obras civiles y metal-mecánicas.</p>
          <h3 class="my-3">Datos societarios</h3>
          <ul>
            <li>Sociedad de responsabilidad limitada</li>
            <li>Socio gerente: Ing. Maximiliano Rey</li>
            <li>Ingenieros de Software: Ing. Nicolas Bloj, Ing. Rodrigo Mayer </li>
            <li>3886526104 / 03886-426900</li>
            <li>mayco.montajes@gmail.com</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->
